body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: auto;
}

.events-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #ccc;
  border: 1px solid #000;
}

.events_description {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.logo-container {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.split-boxes {
  display: flex;
  width: 100%;
}

.split-box {
  flex: 1;
  background-color: #ccc;
  padding: 20px;
  border: 1px solid #000;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
background-color: white;
color: black;
padding: 20px;
}

.footer {
background-color: black;
color: white;
padding: 2px;
}

.content {
flex: 1;
overflow-y: auto; /* Enable vertical scrolling */
padding: 20px;
}